.card {
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #dde3e87e;
  border: 2px solid #ccc;
  border-radius: 20px;

  .form {
    width: 80%;

    .input {
      display: flex;
      align-items: center;

      .input-password {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 10px;

        &:focus {
          outline-color: #666d6e;
        }
      }
      i {
        margin-left: -30px;
        cursor: pointer;
      }
    }
  }

  .indicator {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;

    span {
      width: 33%;
      height: 10px;
      border-radius: 10px;
    }

    :nth-child(2) {
      margin: 0 10px;
    }

    .gray {
      background-color: rgb(146, 144, 144);
    }

    .red {
      background-color: #f28585;
    }

    .yellow {
      background-color: #fffc9b;
    }

    .green {
      background-color: #b7e5b4;
    }

    .gray,
    .red,
    .yellow,
    .green {
      transition: background-color 0.2s ease-out;
    }
  }
}
