<div class="card">
  <h1 class="header">Test password strength</h1>
  <form class="form" [formGroup]="form">
    <div class="input">
      <input
        class="input-password"
        type="{{ showPassword ? 'text' : 'password' }}"
        placeholder="Password"
        formControlName="password"
        (input)="checkPasswordStrength()"
      />
      <i
        class="bi"
        [class]="showPassword ? 'bi-eye' : 'bi-eye-slash'"
        id="togglePassword"
        (click)="togglePasswordVisibility()"
      ></i>
    </div>
    <div class="indicator">
      <span [class]="indicatorClasses.easy"></span>
      <span [class]="indicatorClasses.medium"></span>
      <span [class]="indicatorClasses.strong"></span>
    </div>
  </form>
</div>
